<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.3">
      <protocol>http</protocol>
      <nexusUrl>localhost:8081/nexus</nexusUrl>
      <nexusUser>admin</nexusUser>
      <nexusPassword>Kd9Qdyh4fNpTNKqf8K2fAMHzsGtDbbWgZAnYvPisrSs=</nexusPassword>
      <groupId>rezoomex</groupId>
      <artifactId>gate</artifactId>
      <version>1.0.1-SNAPSHOT</version>
      <packaging>zip</packaging>
      <repository>snapshots</repository>
      <file>/home/synerzip/gate-resources.zip</file>
      <credentialsId></credentialsId>
    </sp.sd.nexusartifactuploader.NexusArtifactUploader>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>